/*
 * Copyright 2019 Exor Int. S.p.a.
 * Copyright 2018 NXP
 * 
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

#include "fsl-imx8mm.dtsi"

/ {
	model = "Exor i.MX8MM US04 board";
	compatible = "fsl,imx8mm-evk", "fsl,imx8mm";

	aliases {
		mmc0 = &usdhc2;
		mmc1 = &usdhc1;
		spi0 = &ecspi1;
		spi1 = &ecspi3;
		spi2 = &ecspi2;
		can0 = &can0;
		can1 = &can1;
	};

	clkcan20m: clk20m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <20000000>;
	};
	
    backlight0: backlight {
		status = "disabled";
    };
    
	leds:leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
        
        dlled@6 {
            label = "us04:dl:usr0";
            gpios = <&tca6408 6 1>;
            default-state = "on";
        };
  
        faultled@7 {
            label = "us04:fault:usr0";
            gpios = <&tca6408 7 0>;
            default-state = "off";
        };

  
        sela3a4@8 {
            label = "us03:sel_a3a4";
            gpios = <&tca6408 5 GPIO_ACTIVE_LOW>;
            default-state = "on";
        };
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

        reg_usb1_otg_vbus: usb1_regulator {
            compatible = "regulator-fixed";
            reg = <0>;
            regulator-name = "usb1_vbus";
            regulator-min-microvolt = <5000000>;
            regulator-max-microvolt = <5000000>;
            gpio = <&gpio1 12 0>;
            enable-active-high;
        };

        reg_usb2_otg_vbus: usb2_regulator {
            compatible = "regulator-fixed";
            reg = <1>;
            regulator-name = "usb2_vbus";
            regulator-min-microvolt = <5000000>;
            regulator-max-microvolt = <5000000>;
            gpio = <&gpio1 14 0>;
            enable-active-high;
        };
        
		reg_sd1_vmmc: sd1_regulator {
			compatible = "regulator-fixed";
			regulator-name = "emmc_enable";
			reg = <2>;
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio2 10 GPIO_ACTIVE_HIGH>;
			regulator-boot-on;
			regulator-always-on;
			enable-active-high;
		};

		reg_usdhc2_vmmc: regulator-usdhc2 {
			compatible = "regulator-fixed";
			regulator-name = "sdcard_enable";
			reg = <3>;
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&tca6408 0 GPIO_ACTIVE_HIGH>;
			regulator-boot-on;
			regulator-always-on;
			enable-active-low;
		};
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	imx8mm-evk {
		pinctrl_hog: hoggrp {
			fsl,pins = <
                MX8MM_IOMUXC_GPIO1_IO12_GPIO1_IO12      0x1c4
                MX8MM_IOMUXC_GPIO1_IO14_GPIO1_IO14      0x1c4
                MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4         0x1c4
			>;
		};

        pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				MX8MM_IOMUXC_I2C1_SCL_I2C1_SCL			0x400001c3
				MX8MM_IOMUXC_I2C1_SDA_I2C1_SDA			0x400001c3
			>;
		};

		pinctrl_pmic: pmicirq {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO11_GPIO1_IO11		0x41
			>;
		};

		pinctrl_usdhc1_gpio: usdhc1grpgpio {
			fsl,pins = <
				MX8MM_IOMUXC_SD1_RESET_B_GPIO2_IO10	0x41
			>;
		};
        
		pinctrl_usdhc1: usdhc1grp {
			fsl,pins = <
				MX8MM_IOMUXC_SD1_CLK_USDHC1_CLK		0x190
				MX8MM_IOMUXC_SD1_CMD_USDHC1_CMD		0x1d0
				MX8MM_IOMUXC_SD1_DATA0_USDHC1_DATA0	0x1d0
				MX8MM_IOMUXC_SD1_DATA1_USDHC1_DATA1	0x1d0
				MX8MM_IOMUXC_SD1_DATA2_USDHC1_DATA2	0x1d0
				MX8MM_IOMUXC_SD1_DATA3_USDHC1_DATA3	0x1d0
				MX8MM_IOMUXC_SD1_DATA4_USDHC1_DATA4	0x1d0
				MX8MM_IOMUXC_SD1_DATA5_USDHC1_DATA5	0x1d0
				MX8MM_IOMUXC_SD1_DATA6_USDHC1_DATA6	0x1d0
				MX8MM_IOMUXC_SD1_DATA7_USDHC1_DATA7	0x1d0
            >;
		};

		pinctrl_usdhc2_gpio: usdhc2grpgpio {
			fsl,pins = <
				MX8MM_IOMUXC_SD2_CD_B_GPIO2_IO12	0x41
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX8MM_IOMUXC_SD2_CLK_USDHC2_CLK		0x190
				MX8MM_IOMUXC_SD2_CMD_USDHC2_CMD		0x1d0
				MX8MM_IOMUXC_SD2_DATA0_USDHC2_DATA0	0x1d0
				MX8MM_IOMUXC_SD2_DATA1_USDHC2_DATA1	0x1d0
				MX8MM_IOMUXC_SD2_DATA2_USDHC2_DATA2	0x1d0
				MX8MM_IOMUXC_SD2_DATA3_USDHC2_DATA3	0x1d0
			>;
		};

		pinctrl_wdog: wdoggrp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO02_WDOG1_WDOG_B		0xc6
			>;
		};

		pinctrl_ecspi1: ecspi1grp {
			fsl,pins = <
				MX8MM_IOMUXC_ECSPI1_SCLK_ECSPI1_SCLK    0x11
				MX8MM_IOMUXC_ECSPI1_MOSI_ECSPI1_MOSI    0x11
				MX8MM_IOMUXC_ECSPI1_MISO_ECSPI1_MISO    0x11
				MX8MM_IOMUXC_ECSPI1_SS0_GPIO5_IO9       0x11
				MX8MM_IOMUXC_UART4_TXD_GPIO5_IO29       0x11
				MX8MM_IOMUXC_SAI2_TXC_GPIO4_IO25        0x11
				MX8MM_IOMUXC_SAI2_MCLK_GPIO4_IO27       0x11
				MX8MM_IOMUXC_SAI1_RXD1_GPIO4_IO3        0x11
				MX8MM_IOMUXC_SAI1_RXD3_GPIO4_IO5        0x11
			>;
		};
        
		pinctrl_ecspi3: ecspi3grp {
			fsl,pins = <
                MX8MM_IOMUXC_UART1_RXD_ECSPI3_SCLK      0x11
                MX8MM_IOMUXC_UART1_TXD_ECSPI3_MOSI      0x11
                MX8MM_IOMUXC_UART2_RXD_ECSPI3_MISO      0x11
                MX8MM_IOMUXC_SAI3_RXFS_GPIO4_IO28       0x11
                MX8MM_IOMUXC_SAI2_TXD0_GPIO4_IO26       0x11
                MX8MM_IOMUXC_UART2_TXD_GPIO5_IO25       0x11
                MX8MM_IOMUXC_UART4_RXD_GPIO5_IO28       0x11
                MX8MM_IOMUXC_SAI3_MCLK_GPIO5_IO2        0x11
                MX8MM_IOMUXC_SAI1_RXD7_GPIO4_IO9        0x11
			>;
		};
	};
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	pmic: bd71837@4b {
		reg = <0x4b>;
		compatible = "rohm,bd71840", "rohm,bd71837";
		/* PMIC BD71837 PMIC_nINT GPIO1_IO3 */
		pinctrl-0 = <&pinctrl_pmic>;
		gpio_intr = <&gpio1 11 GPIO_ACTIVE_LOW>;

		gpo {
			rohm,drv = <0x0C>;	/* 0b0000_1100 all gpos with cmos output mode */
		};

		regulators {
			#address-cells = <1>;
			#size-cells = <0>;

			bd71837,pmic-buck2-uses-i2c-dvs;
			bd71837,pmic-buck2-dvs-voltage = <1000000>, <900000>, <0>; /* VDD_ARM: Run-Idle */

			buck1_reg: regulator@0 {
				reg = <0>;
				regulator-compatible = "buck1";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <1250>;
			};

			buck2_reg: regulator@1 {
				reg = <1>;
				regulator-compatible = "buck2";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <1250>;
			};

			buck3_reg: regulator@2 {
				reg = <2>;
				regulator-compatible = "buck3";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
			};

			buck4_reg: regulator@3 {
				reg = <3>;
				regulator-compatible = "buck4";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
			};

			buck5_reg: regulator@4 {
				reg = <4>;
				regulator-compatible = "buck5";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1350000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6_reg: regulator@5 {
				reg = <5>;
				regulator-compatible = "buck6";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck7_reg: regulator@6 {
				reg = <6>;
				regulator-compatible = "buck7";
				regulator-min-microvolt = <1605000>;
				regulator-max-microvolt = <1995000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck8_reg: regulator@7 {
				reg = <7>;
				regulator-compatible = "buck8";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1_reg: regulator@8 {
				reg = <8>;
				regulator-compatible = "ldo1";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo2_reg: regulator@9 {
				reg = <9>;
				regulator-compatible = "ldo2";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo3_reg: regulator@10 {
				reg = <10>;
				regulator-compatible = "ldo3";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4_reg: regulator@11 {
				reg = <11>;
				regulator-compatible = "ldo4";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo6_reg: regulator@13 {
				reg = <13>;
				regulator-compatible = "ldo6";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
    
    seeprom0:seeprom0@54 {
        compatible = "atmel,24c02";
        reg = <0x54>;
    };
  
    seeprom1:seeprom1@50 {
        compatible = "atmel,24c02";
        reg = <0x50>;
    };
  
    seeprom2:seeprom2@51 {
        compatible = "atmel,24c02";
        reg = <0x51>;
    };
  
    m41t83:m41t83@68 {
        compatible = "st,m41t83";
        reg = <0x68>;
    };
  
    tca6408: tca6408@21 {
        compatible = "ti,tca6408";
        gpio-controller;
        #gpio-cells = <2>;
        reg = <0x21>;
        restart-if-fails;
    };
    
	dsi_lvds_bridge: sn65dsi84@2c {
		compatible = "ti,sn65dsi83";
		reg = <0x2c>;
		ti,dsi-lanes = <4>;
		ti,lvds-format = <2>; 
		ti,lvds-bpp = <24>;
		ti,width-mm = <218>;
		ti,height-mm = <136>;
		enable-gpios = <&tca6408 1 GPIO_ACTIVE_HIGH>;
		envdd-gpios = <&gpio5 4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		status = "okay";
		backlight = <&backlight0>;

		display-timings {
			lvds {
				clock-frequency = <33000000>;
				hactive = <800>;
				vactive = <480>;
				hback-porch = <40>;
				hfront-porch = <40>;
				vback-porch = <29>;
				vfront-porch = <13>;
				hsync-len = <48>;
				vsync-len = <3>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};

		port {
			lvds_from_dsi: endpoint {
				remote-endpoint = <&dsi_to_lvds>;
			};
		};
	};
};


&lcdif {
	status = "okay";
};

&mipi_dsi {
	status = "okay";

	port@1 {
		dsi_to_lvds: endpoint {
			remote-endpoint = <&lvds_from_dsi>;
		};
	};
};

&mu {
	status = "okay";
};

&rpmsg{
	/*
	 * 64K for one rpmsg instance:
	 * --0xb8000000~0xb800ffff: pingpong
	 */
	vdev-nums = <1>;
	reg = <0x0 0xb8000000 0x0 0x10000>;
	status = "okay";
};

&pcie0{
	ext_osc = <1>;
};

&ecspi1 {
    fsl,spi-num-chipselects = <5>;
    cs-gpios = <&gpio5 9 0>,  /* CS0 */
               <&gpio5 29 0>, /* CS1 */
               <&gpio4 25 0>, /* CS2 */
               <&gpio4 27 0>, /* CS3 */
               <&gpio4 5 0>;  /* CS4 */
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_ecspi1>;
    status = "okay";
	/delete-property/dmas;
	/delete-property/dma-names;
  
    spidev0: spi0@0 {
        compatible = "generic,spidev";
        reg = <0>;
        spi-max-frequency = <3000000>;
    };

    spidev1: spi0@1 {
        compatible = "generic,spidev";
        reg = <1>;
        spi-max-frequency = <3000000>;
    };

    adcus: mcp3204@2 {
        compatible = "mcp3204";
        reg = <2>;
        spi-max-frequency = <500000>;
    };
    
    fram: at25@3 {
        compatible = "atmel,at25", "st,m95256";
        reg = <3>;
        spi-max-frequency = <20000000>;
        pagesize = <64>;
        size = <65536>;
        address-width = <16>;
    };
	

	flash0: n25q256a@4 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "m25p80";
		reg = <4>;      /* chip select */
		spi-max-frequency = <20000000>;
		m25p,fast-read;
		enable-gpios = <&gpio4 3 0>;
		page-size = <256>; 
		block-size = <16>; /* 2^16, 64KB */
		read-delay = <4>;  /* delay value in read data capture register */
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		partition@qspi-fpga1 {
		/* 10MB for raw FPGA1 image. */
		label = "fpga1";
		reg = <0x0 0xa00000>;
		};

		partition@qspi-fpga2 {
		/* 10MB for raw FPGA2 image. */
		label = "fpga2";
		reg = <0xa00000 0xa00000>;
		};
	};	
};

&ecspi3 {
    fsl,spi-num-chipselects = <4>;
    cs-gpios = <&gpio4 28 0>,  /* CS0 */
               <&gpio4 26 0>, /* CS1 */
               <&gpio5 25 0>, /* CS2 */
               <&gpio5 28 0>; /* CS3 */
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_ecspi3>;
    status = "okay";
  
    spidev2: spi1@0 {
        compatible = "generic,spidev";
        reg = <0>;
        spi-max-frequency = <3000000>;
    };

    spidev3: spi1@1 {
        compatible = "generic,spidev";
        reg = <1>;
        spi-max-frequency = <3000000>;
    };

	can0: can@2 {
		compatible = "microchip,mcp2515";
		reg = <2>;
		clocks = <&clkcan20m>;
		spi-max-frequency = <10000000>;
		interrupt-parent = <&gpio5>;
		interrupts = <2 GPIO_ACTIVE_LOW>;
	};

	can1: can@3 {
		compatible = "microchip,mcp2515";
		reg = <3>;
		clocks = <&clkcan20m>;
		spi-max-frequency = <10000000>;
		interrupt-parent = <&gpio4>;
		interrupts = <9 GPIO_ACTIVE_LOW>;
	};
};


&uart1 { 
	assigned-clocks = <&clk IMX8MM_CLK_UART1_SRC>;
	assigned-clock-parents = <&clk IMX8MM_SYS_PLL1_80M>;
	status = "okay";
};

&uart2 { 
    status = "disabled";
};

&uart3 {
	assigned-clocks = <&clk IMX8MM_CLK_UART3_SRC>;
	assigned-clock-parents = <&clk IMX8MM_SYS_PLL1_80M>;
	status = "disabled";
};

&usbotg1 {
	dr_mode = "host";
    vbus-supply = <&reg_usb1_otg_vbus>;
	picophy,pre-emp-curr-control = <3>;
	picophy,dc-vol-level-adjust = <7>;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
    vbus-supply = <&reg_usb2_otg_vbus>;
	picophy,pre-emp-curr-control = <3>;
	picophy,dc-vol-level-adjust = <7>;
	status = "okay";
};

/* EMMC */
&usdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1>, <&pinctrl_usdhc1_gpio>;
	bus-width = <8>;
	vmmc-supply = <&reg_sd1_vmmc>;
	pm-ignore-notify;
	keep-power-in-suspend;
	non-removable;
	status = "okay";
};

/* SD-card */
&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	cd-gpios = <&gpio2 12 0>;
	cd-inverted;
	bus-width = <4>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	pm-ignore-notify;
	keep-power-in-suspend;
	no-1-8-v;
	cd-debounce-delay-ms = <200>;
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&A53_0 {
	arm-supply = <&buck2_reg>;
};

&gpu {
	status = "okay";
};

&vpu_g1 {
	status = "okay";
};

&vpu_g2 {
	status = "okay";
};

&vpu_h1 {
	status = "okay";
};
