/*
 * Copyright (C) 2019 Exor S.p.a
 * 
 * Written by: G. Pavoni Exor S.p.a.
 * 
 * Copyright (C) 2013 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
  
/dts-v1/;
  
#include "imx8mm_us04.dtsi"
  
/ {
	model = "WU10 i.MX8MM US04 board";
	compatible = "fsl,imx8mm-evk", "fsl,imx8mm";

	thermal-zones {
		/* cpu thermal */
		cpu-thermal {
			polling-delay-passive = <250>;
			polling-delay = <2000>;
			thermal-sensors = <&tmu>;
			trips {
				cpu_alert0: trip0 {
					temperature = <110000>;
					hysteresis = <2000>;
					type = "passive";
				};

				cpu_crit0: trip1 {
					temperature = <120000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cpu_alert0>;
					cooling-device =
					<&A53_0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
	};
	
	beeper {
		compatible = "pwm-beeper";
		pwms = <&pwm1 0 50000 0>;
	};

	working_hours {
	  compatible = "working_hours";
	  nvmem-names = "eeprom", "rtcnvram";
	  nvmem = <&seeprom0>, <&m41t83>;
	  backlight = <&backlight0>;
	  status = "okay";
	};	
		
	gpio_buttons: gpio_buttons@0 {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpiobutton>;

		button@1 {
		    label = "L1";
		    linux,code = <68>; /* KEY_F10 */
		    gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
		};
		button@2 {
		    label = "L2";
		    linux,code = <67>; /* KEY_F9 */
		    gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;
		};
		button@3 {
		    label = "L3";
		    linux,code = <66>; /* KEY_F8 */
		    gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
		};
		button@4 {
		    label = "L4";
		    linux,code = <65>; /* KEY_F7 */
		    gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
		};
		button@5 {
		    label = "L5";
		    linux,code = <64>; /* KEY_F6 */
		    gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
		};
		button@6 {
		    label = "L6";
		    linux,code = <87>; /* KEY_F11 */
		    gpios = <&gpio4 15 GPIO_ACTIVE_LOW>;
		};
		
		button@7 {
		    label = "R1";
		    linux,code = <63>; /* KEY_F5 */
		    gpios = <&gpio4 7 GPIO_ACTIVE_LOW>;
		};
		button@8 {
		    label = "R2";
		    linux,code = <62>; /* KEY_F4 */
		    gpios = <&gpio4 10 GPIO_ACTIVE_LOW>;
		};
		button@9 {
		    label = "R3";
		    linux,code = <61>; /* KEY_F3 */
		    gpios = <&gpio4 20 GPIO_ACTIVE_LOW>;
		};
		button@10 {
		    label = "R4";
		    linux,code = <60>; /* KEY_F2 */
		    gpios = <&gpio4 11 GPIO_ACTIVE_LOW>;
		};
		button@11 {
		    label = "R5";
		    linux,code = <59>; /* KEY_F1 */
		    gpios = <&gpio4 0 GPIO_ACTIVE_LOW>;
		};
		button@12 {
		    label = "R6";
		    linux,code = <88>; /* KEY_F12 */
		    gpios = <&gpio4 12 GPIO_ACTIVE_LOW>;
		};
	};
	
	pwmleds:pwmleds {
		compatible = "pwm-leds";
		keybd_bkl_dimm {
			label = "keybd_bkl_dimm";
			pwms = <&pwm2 0 1000000>;
			max-brightness = <255>;
		};
	};	
	
	dig_io:dig_io {
	  compatible = "exor,gpio_initializer";
	  pinctrl-names = "default";
	  pinctrl-0 = <&pinctrl_dig_io>;
	  gpios = <&gpio4 14 0x21>, <&gpio4 16 0x21>, <&gpio4 5 0x21>,  <&gpio4 4 0x21>,  <&gpio4 3 0x21>,  <&gpio4 2 0x21>,
	          <&gpio2 19 0x20>, <&gpio4 6 0x20>,  <&gpio5 10 0x20>, <&gpio5 13 0x20>, <&gpio5 12 0x20>, <&gpio5 11 0x20>;
	  gpio-names = "flt12", "flt34", "in1", "in2", "in3", "in4",
	               "en12", "en34", "out1", "out2", "out3", "out4";
	};
	
	regulator_can1: regulator_can1 {
            compatible = "regulator-fixed";
            regulator-name = "can1_stb";
            regulator-min-microvolt = <3300000>;
            regulator-max-microvolt = <3300000>;
            gpio = <&gpio4 13 0>;
            enable-active-high;
        };

	/* 25 MHz crystal oscillator for TC358748 */
	clocks {
		osc_ext_25m: clock@6 {
			compatible = "fixed-clock";
			reg = <6>;
			#clock-cells = <0>;
			clock-frequency = <25000000>;
			clock-output-names = "osc_ext_25m";
		};
	};
};

&backlight0 {
    compatible = "pwm-backlight";
    pwms = <&pwm3 0 50000 0>;
    brightness-levels = <0 4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96 100>;
    default-brightness-level = <0>;
    enable-gpios = <&gpio5 5 0>;
    status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&pwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm2>;
	status = "okay";
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3>;
	status = "okay";
};

&i2c1 {
	lis331dlh@18 {
		/* Accelerometer */
		compatible = "st,lis331dlh-accel";
		reg = <0x18>;
	};

	lps22hb@5d {
		/* Pressure */
		compatible = "st,lps22hb-press";
		reg = <0x5d>;
	};
	
	htu21@40 {
		/* Humidity */
		compatible = "meas,htu21";
		reg = <0x40>;
	};

	opt3001@44 {
	  compatible = "ti,opt3001";
	  reg = <0x44>;
	};			
	
	pca9633: pca9633 {
		compatible = "nxp,pca9633";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x62>;
		
		red@0 {
			label = "red";
			reg = <0>;
			linux,default-trigger = "none";
		};
		green@1 {
			label = "green";
			reg = <1>;
			linux,default-trigger = "none";
		};
		blue@2 {
			label = "blue";
			reg = <2>;
			linux,default-trigger = "none";
		};
		unused@3 {
			label = "unused";
			reg = <3>;
			linux,default-trigger = "none";
		};
	};	
	adv7280@20 {
		status = "okay";
		compatible = "adi,adv7280";
		reg = <0x20>;
		csi_id =<0>; /* ?? */
		cvbs = <1>; /* Analogue channel: input 8 */
		clocks = <&osc_ext_25m>;
		clock-names = "refclk";
	};
	tc358746@e {
		compatible = "toshiba,tc358746";
		reg = <0xe>;
		clocks = <&osc_ext_25m>;
		clock-names = "refclk";
		port {
			tc358746_out: endpoint {
				remote-endpoint = <&mipi1_sensor_ep>;
//				data-lanes = <1 2 3 4>;
				data-lanes = <1>;
				clock-lanes = <0>;
				clock-noncontinuous;
				link-frequencies = /bits/ 64 <200000000>;
			};
		};
	};
};

&csi1_bridge {
	fsl,mipi-mode;
	status = "okay";
	port {
		csi1_ep: endpoint {
			remote-endpoint = <&csi1_mipi_ep>;
		};
	};
};

&mipi_csi_1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	port {
		mipi1_sensor_ep: endpoint1 {
			remote-endpoint = <&tc358746_out>;
			data-lanes = <1>;
			csis-hs-settle = <11>;
			csis-clk-settle = <2>;
			csis-wclk;
		};

		csi1_mipi_ep: endpoint2 {
			remote-endpoint = <&csi1_ep>;
		};
	};
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	phy-mode = "rmii";
	phy-handle = <&ethphy0>;
	fsl,magic-packet;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			max-speed = <100>;
			reg = <1>;
		};
	};
};

&leds {
	led@4 {
		label = "keybd_bkl_ena";
		gpios = <&gpio4 24 0>;
		default-state = "on";
	};
};

&uart1 { /* Main UART */
	/delete-property/dmas;
	/delete-property/dma-names;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	fsl,uart-has-rtscts;
	rts-gpio = <&gpio1 1 0>;
	mode-gpio = <&gpio1 0 0>;
	rxen-gpio = <&gpio1 3 0>;
	mode-two-lines-only;
	status = "okay";
};

&uart2 { /* Aux UART for PIC communication */
	/delete-property/dmas;
	/delete-property/dma-names;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&can0 {
	transceiver = <&tja1145>;
};

&can1 {
	xceiver-supply = <&regulator_can1>;
};

&ecspi1 {
    fsl,spi-num-chipselects = <5>;
    pinctrl-0 = <&pinctrl_ecspi1_wu10>;
    
    cs-gpios = <&gpio5 9 0>,  /* CS0 */
               <&gpio5 29 0>, /* CS1 */
               <&gpio4 25 0>, /* CS2 */
               <&gpio4 27 0>, /* CS3 */
               <&gpio5 26 0>; /* CS4 */
	
	/delete-node/ n25q256a@4;
	/delete-node/ spi0@0;

	flash0: n25q256a@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		status = "okay";
		reg = <0>;      /* chip select */
		spi-max-frequency = <10000000>;
		/* m25p,fast-read; not compatible with our ic, don't use */
		page-size = <256>; 
		block-size = <16>; /* 2^16, 64KB */
		read-delay = <4>;  /* delay value in read data capture register */
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;
	};
	
	tja1145: tja1145@4 {
		compatible = "nxp,tja1145";
		reg = <4>;
		spi-cpha;
		spi-max-frequency = <500000>;
	};	
};

&iomuxc {
	imx8mm-evk {

		pinctrl_hog: hoggrp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO12_GPIO1_IO12      0x1c4
				MX8MM_IOMUXC_GPIO1_IO14_GPIO1_IO14      0x1c4
				MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4         0x1c4
				MX8MM_IOMUXC_SAI2_RXD0_GPIO4_IO23       0x1c4   /* Wifi Reset */
			>;
		};

		pinctrl_pwm3: pwm3grp {
			fsl,pins = <
				MX8MM_IOMUXC_SPDIF_TX_PWM3_OUT            0x1c4
				MX8MM_IOMUXC_SPDIF_EXT_CLK_GPIO5_IO5      0x1c4
			>;
		};

		pinctrl_pwm1: pwm1grp {
			fsl,pins = <
				MX8MM_IOMUXC_I2C4_SDA_PWM1_OUT            0x1c4
			>;
		};

		pinctrl_pwm2: pwm2grp {
			fsl,pins = <
				MX8MM_IOMUXC_I2C4_SCL_PWM2_OUT            0x1c4
				MX8MM_IOMUXC_SAI2_TXFS_GPIO4_IO24         0x1c4
			>;
		};
		
		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI2_RXFS_UART1_TX	    0x140
				MX8MM_IOMUXC_SAI2_RXC_UART1_RX	    0x140
				MX8MM_IOMUXC_GPIO1_IO03_GPIO1_IO3   0x11
				MX8MM_IOMUXC_GPIO1_IO01_GPIO1_IO1   0x11
				MX8MM_IOMUXC_GPIO1_IO00_GPIO1_IO0   0x11
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI3_TXC_UART2_TX	    0x140
				MX8MM_IOMUXC_SAI3_TXFS_UART2_RX	    0x140
			>;
		};
		
		pinctrl_fec1: fec1grp {
			fsl,pins = <
				MX8MM_IOMUXC_ENET_MDC_ENET1_MDC		0x3
				MX8MM_IOMUXC_ENET_MDIO_ENET1_MDIO	0x3
				MX8MM_IOMUXC_ENET_TD2_ENET1_TX_CLK	0x4000001f
				MX8MM_IOMUXC_ENET_TD1_ENET1_RGMII_TD1	0x56
				MX8MM_IOMUXC_ENET_TD0_ENET1_RGMII_TD0	0x56
				MX8MM_IOMUXC_ENET_RD1_ENET1_RGMII_RD1	0x56
				MX8MM_IOMUXC_ENET_RD0_ENET1_RGMII_RD0	0x56
				MX8MM_IOMUXC_ENET_RXC_ENET1_RX_ER	0x56
				MX8MM_IOMUXC_ENET_RX_CTL_ENET1_RGMII_RX_CTL	0x56
				MX8MM_IOMUXC_ENET_TX_CTL_ENET1_RGMII_TX_CTL	0x56
			>;
		};
		
		pinctrl_gpiobutton: pinctrl_gpiobuttongrp {
			fsl,pins = <
                MX8MM_IOMUXC_GPIO1_IO07_GPIO1_IO7      0x1c4 /* Key L1 */
                MX8MM_IOMUXC_GPIO1_IO06_GPIO1_IO6      0x1c4 /* Key L2 */
                MX8MM_IOMUXC_GPIO1_IO04_GPIO1_IO4      0x1c4 /* Key L3 */
                MX8MM_IOMUXC_GPIO1_IO09_GPIO1_IO9      0x1c4 /* Key L4 */
                MX8MM_IOMUXC_GPIO1_IO08_GPIO1_IO8      0x1c4 /* Key L5 */
                MX8MM_IOMUXC_SAI1_TXD3_GPIO4_IO15      0x1c4 /* Key L6 */
                MX8MM_IOMUXC_SAI1_RXD5_GPIO4_IO7       0x1c4 /* Key R1 */
                MX8MM_IOMUXC_SAI1_TXFS_GPIO4_IO10      0x1c4 /* Key R2 */
                MX8MM_IOMUXC_SAI1_MCLK_GPIO4_IO20      0x1c4 /* Key R3 */
                MX8MM_IOMUXC_SAI1_TXC_GPIO4_IO11       0x1c4 /* Key R4 */
                MX8MM_IOMUXC_SAI1_RXFS_GPIO4_IO0       0x1c4 /* Key R5 */
                MX8MM_IOMUXC_SAI1_TXD0_GPIO4_IO12      0x1c4 /* Key R6 */
			>;
		};

		pinctrl_ecspi1_wu10: ecspi1wu10grp {
			fsl,pins = <
				MX8MM_IOMUXC_ECSPI1_SCLK_ECSPI1_SCLK    0x11
				MX8MM_IOMUXC_ECSPI1_MOSI_ECSPI1_MOSI    0x11
				MX8MM_IOMUXC_ECSPI1_MISO_ECSPI1_MISO    0x11
				MX8MM_IOMUXC_ECSPI1_SS0_GPIO5_IO9       0x11
				MX8MM_IOMUXC_UART4_TXD_GPIO5_IO29       0x11
				MX8MM_IOMUXC_SAI2_TXC_GPIO4_IO25        0x11
				MX8MM_IOMUXC_SAI2_MCLK_GPIO4_IO27       0x11
				MX8MM_IOMUXC_UART3_RXD_GPIO5_IO26       0x11
				MX8MM_IOMUXC_SAI1_TXD1_GPIO4_IO13       0x11
			>;
		};
		
		pinctrl_dig_io: pinctrl_dig_iogrp {
			fsl,pins = <
                MX8MM_IOMUXC_SAI1_TXD2_GPIO4_IO14      0x1c4 /* flt12 */
                MX8MM_IOMUXC_SAI1_TXD4_GPIO4_IO16      0x1c4 /* flt34 */
                MX8MM_IOMUXC_SAI1_RXD3_GPIO4_IO5       0x1c4 /* in1   */
                MX8MM_IOMUXC_SAI1_RXD2_GPIO4_IO4       0x1c4 /* in2   */
                MX8MM_IOMUXC_SAI1_RXD1_GPIO4_IO3       0x1c4 /* in3   */ 
                MX8MM_IOMUXC_SAI1_RXD0_GPIO4_IO2       0x1c4 /* in4   */
                MX8MM_IOMUXC_SD2_RESET_B_GPIO2_IO19    0x1c4 /* en12  */
                MX8MM_IOMUXC_SAI1_RXD4_GPIO4_IO6       0x1c4 /* en34  */
                MX8MM_IOMUXC_ECSPI2_SCLK_GPIO5_IO10    0x1c4 /* out1  */
                MX8MM_IOMUXC_ECSPI2_SS0_GPIO5_IO13     0x1c4 /* out2  */
                MX8MM_IOMUXC_ECSPI2_MISO_GPIO5_IO12    0x1c4 /* out3  */
                MX8MM_IOMUXC_ECSPI2_MOSI_GPIO5_IO11    0x1c4 /* out4  */
 			>;
		};
	};
};

