/*
 * Copyright (C) 2016 Exor S.p.a
 * Written by: G. Pavoni Exor S.p.a. (starting from the imx6usom_be15a.dtsi file)
 * 
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

#include <dt-bindings/input/input.h>

/ {
	aliases {
		mxcfb0 = &mxcfb1;
		mmc3 = &usdhc1;
		mmc0 = &usdhc2;
		mmc2 = &usdhc3;
		mmc1 = &usdhc4;
		i2c2 = &i2c1;
		i2c1 = &i2c2;
		i2c0 = &i2c3;
	};

	leds {
		pinctrl-names = "default";
		pinctrl-0 = <&user_leds_default>;

		compatible = "gpio-leds";

		led@1 {
			label = "us03:dl:usr0";
			gpios = <&gpio3 1 0>;
			default-state = "on";
		};

		led@2 {
			label = "us03:fault:usr0";
			gpios = <&gpio3 2 0>;
			default-state = "off";
		};
		
		led@3 {
			label = "us03:en_vdd:usr0";
			gpios = <&gpio7 1 0>;
			default-state = "on";
		};
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usb_otg_vbus: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 22 0>;
			enable-active-high;
		};

		reg_usb_h1_vbus: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "usb_h1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio5 00 0>;
			enable-active-high;
		};
		reg_sensor: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "sensor-supply";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio2 31 0>;
			startup-delay-us = <500>;
			enable-active-high;
		};
	};

	mxcfb1: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "lcd";
		interface_pix_fmt = "RGB565";
		mode_str ="CLAA-WVGA";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	lcd@0 {
		compatible = "fsl,lcd";
		ipu_id = <0>;
		disp_id = <0>;
		default_ifmt = "RGB565";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu1>;
		status = "okay";
	};

	pwm_bl00: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 50000>;
		brightness-levels = <0 4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96 100>;
		default-brightness-level = <25>;
		enable-gpios = <&gpio7 0 0>;
		status = "okay";
	};

	working_hours {
	  compatible = "working_hours";
	  eeprom = <&seeprom0>;
	  backlight = <&pwm_bl00>;
	  rtcnvram = <&m41t83>;
	  status = "okay";
	};
};

&cpu0 {
	arm-supply = <&sw1a_reg>;
	soc-supply = <&sw1c_reg>;
};

&ecspi1 {
	fsl,spi-num-chipselects = <4>;
	cs-gpios = <&gpio5 25 0>, /* CS0 */
	           <&gpio4 10 0>, /* CS1 */
	           <&gpio4 11 0>, /* CS2 */
	           <&gpio4 12 0>; /* CS3 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";

	fram: at25@3 {
		compatible = "atmel,at25", "st,m95256";
		reg = <3>;
		spi-max-frequency = <20000000>;
		pagesize = <64>;
		size = <65536>;
		address-width = <16>;
	};
	
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	phy-mode = "rgmii";
	status = "okay";

	phy-handle = <&ethphy>;
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		ethphy: ethernet-phy1 {
			reg = <3>;
		};
	};
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	pmic: pfuze100@08 {
		compatible = "fsl,pfuze100";
		reg = <0x08>;

		regulators {
			sw1a_reg: sw1ab {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw1c_reg: sw1c {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3a_reg: sw3a {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3b_reg: sw3b {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw4_reg: sw4 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
			};

			swbst_reg: swbst {
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;
			};

			vgen1_reg: vgen1 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen2_reg: vgen2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen3_reg: vgen3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
			};

			vgen4_reg: vgen4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen5_reg: vgen5 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vgen6 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};

	seeprom0:seeprom0@54 {
		compatible = "atmel,24c02";
		reg = <0x54>;
	};

	seeprom1:seeprom1@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};
	
	m41t83:m41t83@68 {
		compatible = "stm,m41t83";
		reg = <0x68>;
	};

	touch: touch@4b {
	  compatible = "tsc2004";
	  reg = <0x4b>;
	  x-plate-ohms = <400>;
	  intr-gpio = <&gpio3 9 0>; /* GPIO3 9 as intr pin input */
	  reset-gpio = <&gpio2 3 0>; /* GPIO2 3 as HW reset output */
	};
	
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	imx6qdl-sabresd {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				MX6QDL_PAD_NANDF_CLE__GPIO6_IO07 0x80000000
				MX6QDL_PAD_NANDF_ALE__GPIO6_IO08 0x80000000
				MX6QDL_PAD_EIM_D22__GPIO3_IO22  0x80000000
				MX6QDL_PAD_EIM_WAIT__GPIO5_IO00 0x0000b0b0  /* USB host reset */
				MX6QDL_PAD_SD3_DAT5__GPIO7_IO00 0x0000b0b0  /* backlight enable */
				MX6QDL_PAD_EIM_DA9__GPIO3_IO09 0x0000b0b0   /* touch intr */
				MX6QDL_PAD_NANDF_D3__GPIO2_IO03 0x0000b0b0 /* tsc2004 touch reset */
				MX6QDL_PAD_NANDF_D7__GPIO2_IO07 0x0000b0b0 /* PCI-E reset */
			>;
		};

		user_leds_default: gpio_ledsgrp {
			fsl,pins = <
				MX6QDL_PAD_EIM_DA1__GPIO3_IO01  0x0000b0b0
				MX6QDL_PAD_EIM_DA2__GPIO3_IO02  0x0000b0b0
				MX6QDL_PAD_SD3_DAT4__GPIO7_IO01 0x0000b0b0
			>;
		};
		
		pinctrl_ecspi1: ecspi1grp {
			fsl,pins = <
				MX6QDL_PAD_EIM_D16__ECSPI1_SCLK  0x1b0b1 /* SCLK */
				MX6QDL_PAD_EIM_D17__ECSPI1_MISO  0x1b0b1 /* MISO */
				MX6QDL_PAD_EIM_D18__ECSPI1_MOSI  0x1b0b1 /* MOSI */
				MX6QDL_PAD_KEY_COL3__GPIO4_IO12  0x1b0b1 /* CS3  */
				MX6QDL_PAD_KEY_ROW2__GPIO4_IO11  0x1b0b1 /* CS2  */
				MX6QDL_PAD_KEY_COL2__GPIO4_IO10  0x1b0b1 /* CS1  */
				MX6QDL_PAD_CSI0_DAT7__GPIO5_IO25 0x1b0b1 /* CS0  */
			>;
		};

		pinctrl_enet: enetgrp {
			fsl,pins = <
				MX6QDL_PAD_ENET_MDIO__ENET_MDIO		0x1b0b0
				MX6QDL_PAD_ENET_MDC__ENET_MDC		0x1b0b0
				/* GPIO16 -> AR8035 25MHz */
				MX6QDL_PAD_GPIO_16__ENET_REF_CLK	0xc0000000
				MX6QDL_PAD_RGMII_TXC__RGMII_TXC		0x80000000
				MX6QDL_PAD_RGMII_TD0__RGMII_TD0		0x1b0b0
				MX6QDL_PAD_RGMII_TD1__RGMII_TD1		0x1b0b0
				MX6QDL_PAD_RGMII_TD2__RGMII_TD2		0x1b0b0
				MX6QDL_PAD_RGMII_TD3__RGMII_TD3		0x1b0b0
				MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL	0x1b0b0
				/* AR8035 CLK_25M --> ENET_REF_CLK (V22) */
				MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK	0x0a0b1
				/* AR8035 pin strapping: IO voltage: pull up */
				MX6QDL_PAD_RGMII_RXC__RGMII_RXC		0x1b0b0
				/* AR8035 pin strapping: PHYADDR#0: pull down */
				MX6QDL_PAD_RGMII_RD0__RGMII_RD0		0x130b0
				/* AR8035 pin strapping: PHYADDR#1: pull up */
				MX6QDL_PAD_RGMII_RD1__RGMII_RD1		0x1b0b0
				/* AR8035 pin strapping: MODE#1: pull up */
				MX6QDL_PAD_RGMII_RD2__RGMII_RD2		0x1b0b0
				/* AR8035 pin strapping: MODE#3: pull up */
				MX6QDL_PAD_RGMII_RD3__RGMII_RD3		0x1b0b0
				/* AR8035 pin strapping: MODE#0: pull down */
				MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL	0x130b0

				/*
				 * Set RMII pins to HI-Z
				 */
				MX6QDL_PAD_ENET_CRS_DV__GPIO1_IO25	0x03000
				MX6QDL_PAD_ENET_RXD0__GPIO1_IO27	0x03000
				MX6QDL_PAD_ENET_RXD1__GPIO1_IO26	0x03000
				>;
		};
		
		pinctrl_enet_irq: enetirqgrp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_6__ENET_IRQ		0x000b1
			>;
		};

		pinctrl_i2c3: i2c3grp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_3__I2C3_SCL		0x4001b8b1
				MX6QDL_PAD_GPIO_6__I2C3_SDA		0x4001b8b1
			>;
		};

		pinctrl_ipu1: ipu1grp {
			fsl,pins = <
				MX6QDL_PAD_DI0_DISP_CLK__IPU1_DI0_DISP_CLK 0x1b0b0
				MX6QDL_PAD_DI0_PIN15__IPU1_DI0_PIN15       0x1b0b0
				MX6QDL_PAD_DI0_PIN2__IPU1_DI0_PIN02        0x1b0b0
				MX6QDL_PAD_DI0_PIN3__IPU1_DI0_PIN03        0x1b0b0
				MX6QDL_PAD_DISP0_DAT0__IPU1_DISP0_DATA00   0x1b0b0
				MX6QDL_PAD_DISP0_DAT1__IPU1_DISP0_DATA01   0x1b0b0
				MX6QDL_PAD_DISP0_DAT2__IPU1_DISP0_DATA02   0x1b0b0
				MX6QDL_PAD_DISP0_DAT3__IPU1_DISP0_DATA03   0x1b0b0
				MX6QDL_PAD_DISP0_DAT4__IPU1_DISP0_DATA04   0x1b0b0
				MX6QDL_PAD_DISP0_DAT5__IPU1_DISP0_DATA05   0x1b0b0
				MX6QDL_PAD_DISP0_DAT6__IPU1_DISP0_DATA06   0x1b0b0
				MX6QDL_PAD_DISP0_DAT7__IPU1_DISP0_DATA07   0x1b0b0
				MX6QDL_PAD_DISP0_DAT8__IPU1_DISP0_DATA08   0x1b0b0
				MX6QDL_PAD_DISP0_DAT9__IPU1_DISP0_DATA09   0x1b0b0
				MX6QDL_PAD_DISP0_DAT10__IPU1_DISP0_DATA10  0x1b0b0
				MX6QDL_PAD_DISP0_DAT11__IPU1_DISP0_DATA11  0x1b0b0
				MX6QDL_PAD_DISP0_DAT12__IPU1_DISP0_DATA12  0x1b0b0
				MX6QDL_PAD_DISP0_DAT13__IPU1_DISP0_DATA13  0x1b0b0
				MX6QDL_PAD_DISP0_DAT14__IPU1_DISP0_DATA14  0x1b0b0
				MX6QDL_PAD_DISP0_DAT15__IPU1_DISP0_DATA15  0x1b0b0
				MX6QDL_PAD_DISP0_DAT16__IPU1_DISP0_DATA16  0x1b0b0
				MX6QDL_PAD_DISP0_DAT17__IPU1_DISP0_DATA17  0x1b0b0
				MX6QDL_PAD_DISP0_DAT18__IPU1_DISP0_DATA18  0x1b0b0
				MX6QDL_PAD_DISP0_DAT19__IPU1_DISP0_DATA19  0x1b0b0
				MX6QDL_PAD_DISP0_DAT20__IPU1_DISP0_DATA20  0x1b0b0
				MX6QDL_PAD_DISP0_DAT21__IPU1_DISP0_DATA21  0x1b0b0
				MX6QDL_PAD_DISP0_DAT22__IPU1_DISP0_DATA22  0x1b0b0
				MX6QDL_PAD_DISP0_DAT23__IPU1_DISP0_DATA23  0x1b0b0
			>;
		};

		pinctrl_pwm1: pwm1grp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_9__PWM1_OUT		0x1b0b1
			>;
		};

		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA	0x1b0b1
				MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA	0x1b0b1
				MX6QDL_PAD_EIM_D19__UART1_CTS_B         0x1b0b1
				MX6QDL_PAD_EIM_D20__UART1_RTS_B         0x1b0b1
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX6QDL_PAD_EIM_D26__UART2_TX_DATA	0x1b0b1
				MX6QDL_PAD_EIM_D27__UART2_RX_DATA	0x1b0b1
				MX6QDL_PAD_EIM_D29__GPIO3_IO29		0x1b0b1
				MX6QDL_PAD_EIM_D28__GPIO3_IO28		0x1b0b1
			>;
		};

		pinctrl_uart3: uart3grp {
			fsl,pins = <
				MX6QDL_PAD_EIM_D24__UART3_TX_DATA	0x1b0b1
				MX6QDL_PAD_EIM_D25__UART3_RX_DATA	0x1b0b1
				MX6QDL_PAD_EIM_D31__GPIO3_IO31		0x1b0b1
				MX6QDL_PAD_EIM_D23__GPIO3_IO23		0x1b0b1
			>;
		};

		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT12__UART4_TX_DATA	0x1b0b1
				MX6QDL_PAD_CSI0_DAT13__UART4_RX_DATA	0x1b0b1
				MX6QDL_PAD_CSI0_DAT16__UART4_RTS_B	0x1b0b1
				MX6QDL_PAD_CSI0_DAT17__UART4_CTS_B	0x1b0b1
			>;
		};
		
		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX6QDL_PAD_SD2_CMD__SD2_CMD		0x17059
				MX6QDL_PAD_SD2_CLK__SD2_CLK		0x10059
				MX6QDL_PAD_SD2_DAT0__SD2_DATA0		0x17059
				MX6QDL_PAD_SD2_DAT1__SD2_DATA1		0x17059
				MX6QDL_PAD_SD2_DAT2__SD2_DATA2		0x17059
				MX6QDL_PAD_SD2_DAT3__SD2_DATA3		0x17059
				MX6QDL_PAD_GPIO_4__GPIO1_IO04		0x1b0b0
			>;
		};

		pinctrl_usdhc4: usdhc4grp {
			fsl,pins = <
				MX6QDL_PAD_SD4_CMD__SD4_CMD		0x17059
				MX6QDL_PAD_SD4_CLK__SD4_CLK		0x10059
				MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x17059
				MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x17059
				MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x17059
				MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x17059
				MX6QDL_PAD_SD4_DAT4__SD4_DATA4		0x17059
				MX6QDL_PAD_SD4_DAT5__SD4_DATA5		0x17059
				MX6QDL_PAD_SD4_DAT6__SD4_DATA6		0x17059
				MX6QDL_PAD_SD4_DAT7__SD4_DATA7		0x17059
			>;
		};

		pinctrl_flexcan1: flexcan1grp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_8__FLEXCAN1_RX		0x1b020
				MX6QDL_PAD_GPIO_7__FLEXCAN1_TX		0x1b020
			>;
		};

		pinctrl_flexcan2: flexcan2grp {
			fsl,pins = <
				MX6QDL_PAD_KEY_ROW4__FLEXCAN2_RX	0x1b020
				MX6QDL_PAD_KEY_COL4__FLEXCAN2_TX	0x1b020
			>;
		};
	};
};

&gpc {
	/* use ldo-enable and wdt1 for board reset */
	fsl,ldo-bypass = <0>;
	fsl,wdog-reset = <1>;
};

&hdmi_core {
	ipu_id = <0>;
	disp_id = <0>;
	status = "disabled";
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	status = "okay";
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	status = "okay";
};

&pcie {
	/*power-on-gpio = <&gpio3 19 0>;*/
	reset-gpio = <&gpio2 7 0>;
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	rts-gpio = <&gpio3 29 0>;
	be15mode-gpio = <&gpio3 28 0>;
	fsl,uart-has-rtscts;
	status = "disabled";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	rts-gpio = <&gpio3 31 0>;
	be15mode-gpio = <&gpio3 23 0>;
	fsl,uart-has-rtscts;
	status = "disabled";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	fsl,uart-has-rtscts;
	status = "disabled";
};

&usbh1 {
	vbus-supply = <&reg_usb_h1_vbus>;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	bus-width = <4>;
	cd-gpios = <&gpio1 4 0>;
	no-1-8-v;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	bus-width = <8>;
	non-removable;
	no-1-8-v;
	keep-power-in-suspend;
	status = "okay"; 
};

&wdog1 {
	status = "okay";
};

&wdog2 {
	status = "disabled";
};
