/*
 * Copyright (C) 2018 Exor International.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include <dt-bindings/input/input.h>
#include "imx6ul.dtsi"

/ {
	model = "Exor NanoSom01 i.MX6 UltraLite Keb01 Board";
	compatible = "exor,ns01-keb01", "fsl,imx6ul";

	aliases {
		i2c3 = &i2c1;
		i2c1 = &i2c2;
		i2c2 = &i2c3;
		i2c0 = &i2c4;
	};

	chosen {
		stdout-path = &uart1;
	};

	memory {
		reg = <0x80000000 0x20000000>;
	};

	leds {
		compatible = "gpio-leds";

		led@1 {
			label = "ns01:dl:usr0";
			gpios = <&tca6408 7 1>;
			default-state = "on";
		};

		led@2 {
			label = "ns01:fault:usr0";
			gpios = <&tca6408 6 0>;
			default-state = "off";
		};

		led@3 {
			label = "ns01:front:usr0";
			gpios = <&tca6408 2 0>;
			linux,default-trigger = "timer";
		};
	};

	beeper {
		compatible = "pwm-beeper";
		pwms = <&pwm5 0 50000 0>;
	};
	
};

&clks {
	assigned-clocks = <&clks IMX6UL_CLK_PLL4_AUDIO_DIV>;
	assigned-clock-rates = <786432000>;
};

&cpu0 {
	arm-supply = <&reg_arm>;
	soc-supply = <&reg_soc>;
};

&gpc {
	fsl,cpu_pupscr_sw2iso = <0x2>;
	fsl,cpu_pupscr_sw = <0x1>;
	fsl,cpu_pdnscr_iso2sw = <0x1>;
	fsl,cpu_pdnscr_iso = <0x1>;
	fsl,wdog-reset = <1>; /* watchdog select of reset source */
	fsl,ldo-bypass = <1>; /* use ldo-bypass, u-boot will check it and configure */
};

&uart1 {
	/* Debug Serial port CN21 (Usb) */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart5 {
	/* Main Serial port CN9 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	fsl,uart-has-rtscts;
	rts-gpio =  <&gpio5 6 0>;
	mode-gpio = <&gpio5 4 0>;
	rxen-gpio = <&gpio5 1 0>;
	status = "okay";
};

&uart6 {
	/* Plugin 1 Serial port CN15 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&usbotg1 {
	dr_mode = "peripheral";
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	status = "okay";
};

&usdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1>;
	cd-gpios = <&gpio1 19 GPIO_ACTIVE_LOW>;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	no-1-8-v;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";

	pmic: pfuze3000@08 {
		compatible = "fsl,pfuze3000";
		reg = <0x08>;

		regulators {
			sw1a_reg: sw1a {
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <3300000>;
					regulator-boot-on;
					regulator-always-on;
					regulator-ramp-delay = <6250>;
			};

			/* use sw1c_reg to align with pfuze100/pfuze200 */
			sw1c_reg: sw1b {
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1475000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3a_reg: sw3 {
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1650000>;
				regulator-boot-on;
				regulator-always-on;
			};

			swbst_reg: swbst {
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;
			};

			vgen1_reg: vldo1 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen2_reg: vldo2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
				regulator-always-on;
			};

			vgen3_reg: vccsd {
				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen4_reg: v33 {
				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen5_reg: vldo3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vldo4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};

	seeprom0:seeprom0@54 {
		compatible = "atmel,24c02";
		reg = <0x54>;
	};

	seeprom1:seeprom1@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};

	seeprom2:seeprom2@51 {
		compatible = "atmel,24c02";
		reg = <0x51>;
	};
	
	m41t83:m41t83@68 {
		compatible = "stm,m41t83";
		reg = <0x68>;
	};

	tca6408: tca6408@21 {
		compatible = "ti,tca6408";
		interrupt-parent = <&gpio1>;
		interrupts = <3 0x8>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		reg = <0x21>;
		restart-if-fails;
	};

	htu21d@40 {
		/* Temperature/humidity */
		compatible = "htu21";
		reg = <0x40>;
	};
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	clocks = <&clks IMX6UL_CLK_PWM4>,
	 <&clks IMX6UL_CLK_PWM4>;
	status = "okay";
};

&pwm5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm5>;
	clocks = <&clks IMX6UL_CLK_PWM5>,
	 <&clks IMX6UL_CLK_PWM5>;
	status = "okay";
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	status = "okay";
};

&can2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	status = "okay";
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1>;
	phy-mode = "rmii";
	phy-handle = <&ethphy3>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy3: ethernet-phy@3 {
			reg = <3>;
		};
	};
};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet2>;
	phy-mode = "rmii";
	status = "okay";

	fixed-link {
		speed = <100>;
		full-duplex;
	};
};

&ecspi1 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio4 26 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";
	
	spidev1_0: spi1@0 {
		/* KAIROS */
		compatible = "generic,spidev";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&ecspi2 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio1 29 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	status = "okay";
	
	spidev2_0: spi2@0 {
		/* PLUGIN Module 1 */
		compatible = "generic,spidev";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&ecspi3 {
	fsl,spi-num-chipselects = <2>;
	cs-gpios = <&gpio4 12 0>, <&gpio4 10 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3>;
	status = "okay";

	fram: at25@0 {
		/* CS3 FRAM */
		compatible = "atmel,at25", "st,m95256";
		reg = <0>;
		spi-max-frequency = <20000000>;
		pagesize = <64>;
		size = <65536>;
		address-width = <16>;
	};
	
	spidev3_1: spi3@1 {
		/* DISPLAY */
		compatible = "generic,spidev";
		reg = <1>;
		spi-max-frequency = <1000000>;
	};
};

&ecspi4 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio4 9 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi4>;
	status = "okay";
	
	spidev4_0: spi4@0 {
		/* PLUGIN Module 2 */
		compatible = "generic,spidev";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&iomuxc {
	pinctrl-names = "default";
	imx6ul-keb01 {

		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX6UL_PAD_UART1_TX_DATA__UART1_DCE_TX      0x0001B0B1
				MX6UL_PAD_UART1_RX_DATA__UART1_DCE_RX      0x0001B0B1
			>;
		};

		pinctrl_uart5: uart5grp {
			fsl,pins = <
				MX6UL_PAD_CSI_DATA00__UART5_DCE_TX         0x0001B0B1
				MX6UL_PAD_CSI_DATA01__UART5_DCE_RX         0x0001B0B1
				MX6UL_PAD_CSI_DATA02__UART5_DCE_RTS        0x0001B0B1
				MX6UL_PAD_CSI_DATA03__UART5_DCE_CTS        0x0001B0B1
				MX6UL_PAD_SNVS_TAMPER1__GPIO5_IO01         0x0001B0B1
				MX6UL_PAD_SNVS_TAMPER4__GPIO5_IO04         0x0001B0B1
				MX6UL_PAD_SNVS_TAMPER6__GPIO5_IO06         0x0001B0B1
			>;
		};
		pinctrl_uart6: uart6grp {
			fsl,pins = <
				MX6UL_PAD_CSI_MCLK__UART6_DCE_TX           0x0001B0B1
				MX6UL_PAD_CSI_PIXCLK__UART6_DCE_RX         0x0001B0B1
				MX6UL_PAD_CSI_VSYNC__UART6_DCE_RTS         0x0001B0B1
				MX6UL_PAD_CSI_HSYNC__UART6_DCE_CTS         0x0001B0B1
			>;
		};

		pinctrl_usdhc1: usdhc1grp {
			fsl,pins = <
				MX6UL_PAD_SD1_CMD__USDHC1_CMD              0x00017059
				MX6UL_PAD_SD1_CLK__USDHC1_CLK              0x00017059
				MX6UL_PAD_SD1_DATA0__USDHC1_DATA0          0x00017059
				MX6UL_PAD_SD1_DATA1__USDHC1_DATA1          0x00017059
				MX6UL_PAD_SD1_DATA2__USDHC1_DATA2          0x00017059
				MX6UL_PAD_SD1_DATA3__USDHC1_DATA3          0x00017059
				MX6UL_PAD_UART1_CTS_B__GPIO1_IO18          0x00017059 /* WP */
				MX6UL_PAD_UART1_RTS_B__GPIO1_IO19          0x00017059 /* CD */
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX6UL_PAD_NAND_RE_B__USDHC2_CLK            0x00017059
				MX6UL_PAD_NAND_WE_B__USDHC2_CMD            0x00017059
				MX6UL_PAD_NAND_DATA00__USDHC2_DATA0        0x00017059
				MX6UL_PAD_NAND_DATA01__USDHC2_DATA1        0x00017059
				MX6UL_PAD_NAND_DATA02__USDHC2_DATA2        0x00017059
				MX6UL_PAD_NAND_DATA03__USDHC2_DATA3        0x00017059
			>;
		};

		pinctrl_i2c4: i2c4grp {
			fsl,pins = <
				MX6UL_PAD_UART2_TX_DATA__I2C4_SCL           0x4001b8b0
				MX6UL_PAD_UART2_RX_DATA__I2C4_SDA           0x4001b8b0
				MX6UL_PAD_GPIO1_IO03__GPIO1_IO03            0x00017059 /* IRQ */
			>;
		};

		pinctrl_pwm4: pwm4grp {
			fsl,pins = <
				MX6UL_PAD_NAND_WP_B__PWM4_OUT               0x000110b0
			>;
		};

		pinctrl_pwm5: pwm5grp {
			fsl,pins = <
				MX6UL_PAD_NAND_DQS__PWM5_OUT               0x0000110b0
			>;
		};

		pinctrl_flexcan1: flexcan1grp{
			fsl,pins = <
				MX6UL_PAD_UART3_RTS_B__FLEXCAN1_RX         0x00001b020
				MX6UL_PAD_UART3_CTS_B__FLEXCAN1_TX         0x00001b020
			>;
		};

		pinctrl_flexcan2: flexcan2grp{
			fsl,pins = <
				MX6UL_PAD_UART2_RTS_B__FLEXCAN2_RX         0x00001b020
				MX6UL_PAD_UART2_CTS_B__FLEXCAN2_TX         0x00001b020
			>;
		};

		pinctrl_ecspi1: ecspi1grp {
			fsl,pins = <
				MX6UL_PAD_CSI_DATA04__ECSPI1_SCLK          0x000010B0
				MX6UL_PAD_CSI_DATA06__ECSPI1_MOSI          0x000010B0
				MX6UL_PAD_CSI_DATA07__ECSPI1_MISO          0x000010B0
				MX6UL_PAD_CSI_DATA05__GPIO4_IO26           0x000010B0
			>;
		};

		pinctrl_ecspi2: ecspi2grp {
			fsl,pins = <
				MX6UL_PAD_UART4_TX_DATA__ECSPI2_SCLK       0x000010B0
				MX6UL_PAD_UART5_TX_DATA__ECSPI2_MOSI       0x000010B0
				MX6UL_PAD_UART5_RX_DATA__ECSPI2_MISO       0x000010B0
				MX6UL_PAD_UART4_RX_DATA__GPIO1_IO29        0x000010B0
			>;
		};

		pinctrl_ecspi3: ecspi3grp {
			fsl,pins = <
				MX6UL_PAD_NAND_CE0_B__ECSPI3_SCLK          0x000010B0
				MX6UL_PAD_NAND_CE1_B__ECSPI3_MOSI          0x000010B0
				MX6UL_PAD_NAND_CLE__ECSPI3_MISO            0x000010B0
				MX6UL_PAD_NAND_READY_B__GPIO4_IO12         0x000010B0
				MX6UL_PAD_NAND_ALE__GPIO4_IO10             0x000010B0
			>;
		};

		pinctrl_ecspi4: ecspi4grp {
			fsl,pins = <
				MX6UL_PAD_NAND_DATA04__ECSPI4_SCLK         0x000010B0
				MX6UL_PAD_NAND_DATA05__ECSPI4_MOSI         0x000010B0
				MX6UL_PAD_NAND_DATA06__ECSPI4_MISO         0x000010B0
				MX6UL_PAD_NAND_DATA04__ECSPI4_SCLK         0x000010B0
			 >;
		};

		pinctrl_enet1: enet1grp {
			fsl,pins = <
				MX6UL_PAD_ENET1_RX_ER__ENET1_RX_ER         0x0001b0b0
				MX6UL_PAD_ENET1_RX_EN__ENET1_RX_EN         0x0001b0b0
				MX6UL_PAD_ENET1_RX_DATA0__ENET1_RDATA00    0x0001b0b0
				MX6UL_PAD_ENET1_RX_DATA1__ENET1_RDATA01    0x0001b0b0
				MX6UL_PAD_ENET1_TX_EN__ENET1_TX_EN         0x0001b0b0
				MX6UL_PAD_ENET1_TX_CLK__ENET1_REF_CLK1     0x4b01b0a8
				MX6UL_PAD_ENET1_TX_DATA0__ENET1_TDATA00    0x0001b0b0
				MX6UL_PAD_ENET1_TX_DATA1__ENET1_TDATA01    0x0001b0b0

				MX6UL_PAD_GPIO1_IO06__ENET1_MDIO           0x0001b0b0
				MX6UL_PAD_GPIO1_IO07__ENET1_MDC            0x0001b0b0
			>;
		};

		pinctrl_enet2: enet2grp {
			fsl,pins = <
				MX6UL_PAD_ENET2_RX_ER__ENET2_RX_ER         0x0001b0b0
				MX6UL_PAD_ENET2_RX_EN__ENET2_RX_EN         0x0001b0b0
				MX6UL_PAD_ENET2_RX_DATA0__ENET2_RDATA00    0x0001b0b0
				MX6UL_PAD_ENET2_RX_DATA1__ENET2_RDATA01    0x0001b0b0
				MX6UL_PAD_ENET2_TX_EN__ENET2_TX_EN         0x0001b0b0
				MX6UL_PAD_ENET2_TX_CLK__ENET2_REF_CLK2     0x4b01b0a8
				MX6UL_PAD_ENET2_TX_DATA0__ENET2_TDATA00    0x0001b0b0
				MX6UL_PAD_ENET2_TX_DATA1__ENET2_TDATA01    0x0001b0b0
			>;
		};

	};
};
